
<div class="container-fluid  bg-opacity-50" style="background-color: #1A1A1A; color: white;" >
    <div class="container">
    <div class="row">
        <div class="col-md-4">
            <h4>{{test1}}</h4>
            <hr style="color:white; width: 100px; align-self: start; height: 4px;">
            <p>{{test2}}</p>
        </div>
        <div class="col-md-4">
            <h4>{{test3}}</h4>
            <hr style="color:white; width: 100px; align-self: start; height: 4px;">

            <div class="row">
                <div class="col-md-6">
                       <div class="mb-2"><i class="fas fa-angle-double-right "></i> <a href="" class="text-decoration-none text-warning ms-2">{{test5}}</a></div>  
                       <div class="mb-2"> <i class="fas fa-angle-double-right "></i> <a href="" class="text-decoration-none text-warning ms-2">{{test6}}</a></div>
                     <div class="mb-2"> <i class="fas fa-angle-double-right "></i> <a href="" class="text-decoration-none text-warning ms-2">{{test7}}</a></div>  
                      <div class="mb-2"> <i class="fas fa-angle-double-right "></i> <a href="" class="text-decoration-none text-warning ms-2">{{test8}}</a></div> 
                       <div class="mb-2"><i class="fas fa-angle-double-right "></i> <a href="" class="text-decoration-none text-warning ms-2">{{test9}}</a></div> 
                       <div class="mb-2"><i class="fas fa-angle-double-right "></i> <a href="" class="text-decoration-none text-warning ms-2">{{test10}}</a></div> 
                </div>
                <div class="col-md-6">
                    <div class="mb-2"><i class="fas fa-angle-double-right "></i> <a href="" class="text-decoration-none text-warning ms-2">{{test5}}</a></div>  
                    <div class="mb-2"> <i class="fas fa-angle-double-right "></i> <a href="" class="text-decoration-none text-warning ms-2">{{test6}}</a></div>
                  <div class="mb-2"> <i class="fas fa-angle-double-right "></i> <a href="" class="text-decoration-none text-warning ms-2">{{test7}}</a></div>  
                   <div class="mb-2" > <i class="fas fa-angle-double-right "></i> <a href="" class="text-decoration-none text-warning ms-2">{{test8}}</a></div> 
                    <div class="mb-2"><i class="fas fa-angle-double-right "></i> <a href="" class="text-decoration-none text-warning ms-2">{{test9}}</a></div> 
                    <div class="mb-2"><i class="fas fa-angle-double-right "></i> <a href="" class="text-decoration-none text-warning ms-2">{{test10}}</a></div> 
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h4>{{test4}}</h4>
            <hr style="color:white; width: 100px; align-self: start; height: 4px;">

            
          <div class="mb-2"><b>{{test11}}</b> <p style="display: inline; margin-left: 10px;">{{test12}}</p></div>  
           <div class="mb-2"><b>{{test13}}</b> <p style="display: inline; margin-left: 10px;">{{test14}}</p></div> 
           <div> <b>{{test15}}</b> <p style="display: inline; margin-left: 10px;">{{test16}}</p></div>
        
        <div class="icons">
            <i class="fab fa-twitter fa-2x "></i>
                <i class="fab fa-facebook-f fa-2x"></i>
                <i class="fab fa-google-plus-g fa-2x"></i>
                <i class="fab fa-pinterest fa-2x"></i>
                <i class="fab fa-dribbble fa-2x"></i>
        </div>

        </div>
    </div>
</div>
</div>
